{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie {{ article.category.title }}</div>
        <div class="content">
            <img class="rounded mx-auto d-block w-25"src="{{ article.image }}" alt="Image de l'article">
            <br/>
            {{ article.content | raw }}
        </div>
    </div>
    <hr>
    <section id="commentaires">
        <h1>{{ article.comments | length }} commentaires :</h1>
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.author }} (<small>{{comment.createdAt | date('d/m/Y à H:i') }}</small>)
                    </div>
                    <div class="col">
                        {{ comment.content | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
        
        {% if app.user %}
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.author, {'label': "Nom de l'auteur :", 'attr': {'placeholder' : "Votre nom"} }) }}
        {{ form_row(commentForm.content, {'label': "Contenu du commentaire :", 'attr': {'placeholder': "Votre commentaire"} }) }}
        
        <button type="submit" class="btn btn-success">Commenter !</button>
        {{ form_end(commentForm) }}
        
        {% else %}
            <h2>Vous ne pouvez pas commenter si vous n'êtes pas connecté !</h2>
            <a href="{{ path('security_login') }}" class="btn btn-primary">Connexion</a>
        {% endif %}
    </section>
{% endblock %}